@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
	--primary: #D81E5B;
	--secondary: #8A4EFC;
	--light: #EEE;
	--light-alt: #61759b;
	--dark: #131A26;
	--dark-alt: #202B3E;
}

#root{
  width: 100vw;
  min-height: 100%;
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body{
  background: var(--dark-alt);
  color: var(--light);
}

.App{
  width: 100%;
  max-width: 700px;
  height: 100vh;
  margin: auto;
  padding: 25px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
}

.App .heading-section{
  width: 100%;
  height: max-content;
}

.heading-section h1{
	font-size: 40px;
	font-weight: 700;
	margin-bottom: 20px;
}

.heading-section h4{
	font-size: 18px;
	color: var(--light-alt);
	text-transform: uppercase;
	font-weight: 400;
	margin-bottom: 16px;
}

.App .bottom-todos-section{
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.bottom-todos-section::-webkit-scrollbar{
  display: none;
}

.bottom-todos-section .todo{
  height: max-content;
  background: var(--dark);
  padding: 9px 12px;
  border-radius: 10px;
  margin-block: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  position: relative;
}

.todo .complete-check{
  width: 20px;
  height: 20px;
  background: var(--dark-alt);
  border-radius: 50%;
  margin-right: 10px;
  border: none;
  outline: none;
  cursor: pointer;
}

.complete-check.completed-todo{
  background: linear-gradient(to right, var(--primary), var(--secondary));
}

.todo .todo-txt{
  width: max-content;
  max-width: 90%;
  min-width: 90%;
}

.todo .delete-todo-check{
  width: 25px;
  height: 25px;
  background: #AF1E2D;
  color: white;
  border-radius: 50%;
  margin-right: 10px;
  position: absolute;
  top: 0;
  right: 12px;
  bottom: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  outline: none;
  border: none;
  cursor: pointer;
}

.App .open-popup-btn{
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  bottom: 30px;
  right: 20px;
  background: linear-gradient(to right, var(--primary), var(--secondary));
  outline: none;
  border: none;
  cursor: pointer;
	box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.2);
  color: var(--light);
}

.App .add-todo-popup{

  width: 300px;
  height: max-content;
  background: var(--light);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  padding: 12px 15px;
  border-radius: 10px;
  box-shadow: 0px 4px 32px var(--dark);
  transition: .1s ease-in-out;
}


.add-todo-popup div{
  display: flex;
  align-items: center;
  justify-content: space-between;
	margin-bottom: 16px;
  padding: 2px 0px;
}

.add-todo-popup div h4{
	color: var(--dark);
	font-weight: 400;
	text-transform: uppercase;
}


.add-todo-popup .close-popop-btn{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #AF1E2D;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
}

.add-todo-popup input{
  width: 100%;
  height: max-content;
  background: var(--light);
  color: black;
  border-radius: 10px;
  padding: 9px 10px;
  box-sizing: border-box;
  font-size: 15px;
  outline: none;
  border: none;
  box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.2);
}

.add-todo-popup .add-todo-btn{
	padding: 8px 15px;
	border-radius: 999px;
	background-image: linear-gradient(to right, var(--primary), var(--secondary));
	display: inline-block;
	font-weight: 500;
	text-transform: uppercase;
	font-size: 16px;
	margin-top: 16px;
	text-align: center;
	cursor: pointer;
  color: white;
  outline: none;
  border: none;
}
